<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babt.stat.mapper.BabtShcCarEvlRecordDao">




<select id="queryEvalCarsByCond" parameterType="com.babt.stat.entity.cond.Car4StatCond" resultType="int">
		select count(r.id)  from  babt_shc_car_evl_record r,  babt_shc_car_evl_order o where r.orderId=o.id and completed=3 
		<if test="carModelId !=null"> 
		 and  CarModelId=#{carModelId}
		</if>
		<if test="bPManufacturer !=null"> 
		 and  BPManufacturer=#{bPManufacturer}
		</if>
		<if test="area !=null"> 
		 and  Area=#{area}
		</if>
		 and  CompleteDate  between #{startTime} and #{endTime};
</select>



<select id="queryAvgRateByCond" parameterType="com.babt.stat.entity.cond.Car4StatCond" resultType="double">
		select avg(NewnessRate)   from  babt_shc_car_evl_record r,  babt_shc_car_evl_order o where r.orderId=o.id and completed=3 
		<if test="carModelId !=null"> 
		 and  CarModelId=#{carModelId}
		</if>
		<if test="bPManufacturer !=null"> 
		 and  BPManufacturer=#{bPManufacturer}
		</if>
		<if test="area !=null"> 
		 and  Area=#{area}
		</if>
		 and  CompleteDate  between #{startTime} and #{endTime};
</select>


<select id="queryAvgAgeByCond" parameterType="com.babt.stat.entity.cond.Car4StatCond" resultType="double">
		select avg(TIMESTAMPDIFF(YEAR,o.BuyDatetime,r.CompleteDate))  from  babt_shc_car_evl_record r,  babt_shc_car_evl_order o where r.orderId=o.id and completed=3 
		<if test="carModelId !=null"> 
		 and  CarModelId=#{carModelId}
		</if>
		<if test="bPManufacturer !=null"> 
		 and  BPManufacturer=#{bPManufacturer}
		</if>
		<if test="area !=null"> 
		 and  Area=#{area}
		</if>
		 and  CompleteDate  between #{startTime} and #{endTime};
</select>


<select id="queryAvgMileByCond" parameterType="com.babt.stat.entity.cond.Car4StatCond" resultType="double">
		select  avg(Mileage)  from  babt_shc_car_evl_record r,  babt_shc_car_evl_order o where r.orderId=o.id and completed=3 
		<if test="carModelId !=null"> 
		 and  CarModelId=#{carModelId}
		</if>
		<if test="bPManufacturer !=null"> 
		 and  BPManufacturer=#{bPManufacturer}
		</if>
		<if test="area !=null"> 
		 and  Area=#{area}
		</if>
		 and  CompleteDate  between #{startTime} and #{endTime};
</select>


</mapper>
