<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.mapper.CommentMapper">
    <resultMap id="result" type="com.dubbo.api.model.Comment">
        <id property="comment_id" column="comment_id"></id>
        <result property="articleid" column="articleid" />
        <result property="name" column="name" />
        <result property="content" column="content" />
        <result property="createtime" column="createtime" />
        <result property="state" column="state" />

        <collection property="commentReplyList" ofType="com.dubbo.api.model.CommentReply" column="comment_id">

            <id property="comment_id" column="scomment_id"></id>
            <result property="name" column="sname" />
            <result property="replyname" column="replyname" />
            <result property="content" column="scontent" />
            <result property="prase_count" column="prase_count" />
            <result property="createtime" column="screatetime" />

        </collection>

    </resultMap>

    <select id="findAll" resultMap="result">
 select a.*,b.name as sname,b.replyname,b.content as scontent,b.prase_count,b.createtime as screatetime from comment a left join comment_reply b on a.comment_id=b.comment_id where a.articleid=${articleid}
   </select>

    <insert id="insertcomment">
        insert into comment values(null,${articleid},#{name},#{content},#{createtime},#{state})
    </insert>

    <insert id="insertcomment1">
        insert into comment_reply values(${comment_id},#{name},#{replyname},#{content},${prase_count},#{createtime})
    </insert>

    <update id="updatesh">
        update comment set state=${state} where comment_id=${id}
    </update>
    <delete id="deletecomment">
        delete from comment where comment_id=${id}
    </delete>
    <delete id="deletecomment1">
        delete from comment_reply where comment_id=${id}
    </delete>



</mapper>