<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.mapper.Header1Mapper">
    <resultMap id="result" type="com.dubbo.api.model.Header1">
        <id property="id" column="id"></id>
        <result property="name" column="name" />
        <result property="type" column="type" />

        <collection property="content" ofType="com.dubbo.api.model.Content" column="id">
            <id property="id" column="sid"></id>
            <result property="iid" column="iid" />
            <result property="name" column="sname" />
            <result property="href" column="href" />

        </collection>

    </resultMap>

    <select id="findAll" resultMap="result">
      SELECT a.*,b.name as sname,b.id as sid,b.iid,b.href FROM header1 a join content b on a.id=b.iid
   </select>

    <select id="findByName" parameterType="String" resultType="com.dubbo.api.model.Content">
        select name from content where name like concat( '%',#{name},'%')
    </select>


</mapper>