<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.mapper.SearchMapper">
    <resultMap id="result" type="com.dubbo.api.model.Search">
        <id property="id" column="id"></id>
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="author" column="author" />
        <result property="level" column="level" />
        <result property="sc" column="sc" />
        <result property="src" column="src" />
        <result property="url" column="url"></result>

    </resultMap>

    <select id="findAll" resultMap="result">
        select *from search
        <where>
            <if test="a!=null">
                title like concat( '%',#{a},'%')
            </if>
        </where>
        <if test="start!=null and num !=null">
            limit ${start},${num}
        </if>

    </select>
    <select id="findAll1" resultMap="result">
        select *from search order by id limit ${start},${num}
    </select>
    <select id="findById" resultMap="result">
        select *from search
         <where>
             <if test="id!=null">
                 id=${id}
             </if>
             <if test="author!=null">
                 author=#{author}
             </if>
         </where>

    </select>

    <update id="updateimg" parameterType="com.dubbo.api.model.Search">
        update search set title=#{search.title},src=#{search.src},content=#{search.content},author=#{search.author},level=#{search.level},sc=${search.sc} where id=${search.id}
    </update>
    <insert id="insertlesson" parameterType="com.dubbo.api.model.Search">
        insert into search(title,content,author,level,sc,src) values(#{search.title},#{search.content},#{search.author},#{search.level},#{search.sc},#{search.src})
    </insert>
    <delete id="deletelesson">
        delete from search where id=${id}
    </delete>
    <select id="getHotsearch" resultMap="result">
        select * from search ORDER BY sc desc limit 0,6
    </select>

    <select id="search2" resultMap="result">
        select *from search where url=${url}
    </select>

    <select id="selectBestId" resultType="Integer">
        SELECT id FROM search ORDER BY id desc limit 1
    </select>

    <select id="selectBestId1" resultType="Integer">
        SELECT id FROM learncontent ORDER BY id desc limit 1
    </select>




</mapper>