<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.dubbo.provider.mapper.UserMapper">
    <resultMap id="result" type="com.dubbo.api.model.User">
        <id property="id" column="id"></id>
        <result property="name" column="name" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="identity" column="identity" />
        <result property="qq" column="qq" />
        <result property="phone" column="phone" />
        <result property="address" column="address" />
        <association property="usertype" javaType="com.dubbo.api.model.UserType">
            <id property="id" column="sid"></id>
            <result property="name" column="sname" />
        </association>
    </resultMap>

    <select id="findByUsername" resultType="com.dubbo.api.model.User">
        select *from user where username=#{username}
    </select>
    <select id="findAll" resultMap="result">
        select a.*,b.id as sid,b.name as sname from user a join  usertype b on a.identity=b.id
   </select>

    <select id="findByName" resultMap="result">
        select a.*,b.name as sname from user a join usertype b on a.identity=b.id where a.username=#{username} and a.password=#{password}
    </select>
    <select id="findById" resultMap="result">
        select a.*,b.id as sid,b.name as sname from user a join  usertype b on a.identity=b.id where a.id=${id}
    </select>

    <insert id="register">
        insert into user(username,password,identity) values(#{username},#{password},#{identity})
    </insert>

    <select id="getpermission" resultType="com.dubbo.api.model.Permission">
        select *from permission where iid=${iid}
    </select>
    <update id="updateUser" parameterType="com.dubbo.api.model.User">
        update user set name=#{user.name},username=#{user.username},identity=#{user.identity},qq=#{user.qq},phone=#{user.phone},address=#{user.address},password=#{user.password} where id=${user.id}

    </update>
    <update id="updateUser1" parameterType="com.dubbo.api.model.User">
        update user set name=#{user.name},username=#{user.username},identity=#{user.identity},qq=#{user.qq},phone=#{user.phone},address=#{user.address} where id=${user.id}

    </update>

    <delete id="deleteById">
        delete from user where id=${id}
    </delete>

    <update id="updatePassword">
        update user set password=#{password} where id=${id}
    </update>

    <insert id="addUser" parameterType="com.dubbo.api.model.User">
        insert into user(name,username,password,qq,address,phone,identity) values(#{user.name},#{user.username},#{user.password},#{user.qq},#{user.address},#{user.phone},#{user.identity})
    </insert>





</mapper>