<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.mapper.UserRouterMapper">
    <resultMap id="result" type="com.dubbo.api.model.UserRouter">
        <id property="id" column="sid"></id>
        <result property="learnrouter" column="learnrouter" />

        <collection property="learnContent" ofType="com.dubbo.api.model.LearnContent" column="id">

            <id property="id" column="id"></id>
            <result property="iid" column="iid" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="bz" column="bz" />
            <result property="kc" column="kc" />
            <result property="sc" column="sc" />
            <result property="src" column="src"></result>

        </collection>



    </resultMap>

    <!--课程学习-->
    <insert id="insertrouter">
        insert into userrouter values(${id},${learnrouter})
    </insert>
    <select id="getuserr" resultMap="result">
        select a.id as sid,a.learnrouter,b.* from userrouter a join learncontent b on a.learnrouter=b.id where a.id=${id}
    </select>
    <delete id="deleterouter">
        delete from userrouter where id=${id} and learnrouter=${learnrouter}
    </delete>

    <update id="updateLearnContent1">
        update learncontent set sc=sc+1 where id=${id}
    </update>

    <update id="updateLearnContent2">
        update learncontent set sc=sc-1 where id=${id}
    </update>


</mapper>