<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.mapper.WenDaMapper">
    <resultMap id="result" type="com.dubbo.api.model.WenDa">
        <id property="id" column="id"></id>
        <result property="question" column="question" />
        <result property="content" column="content" />
        <result property="author" column="author" />
        <result property="createtime" column="createtime" />

        <collection property="wenDaComment" ofType="com.dubbo.api.model.WenDaComment" column="sid">

            <id property="id" column="sid"></id>
            <result property="iid" column="siid"></result>
            <result property="name" column="sname" />
            <result property="content" column="scontent" />
            <collection property="wenDaReply" ofType="com.dubbo.api.model.WenDaReply" column="cid">
                <id property="id" column="cid"></id>
                <result property="name" column="cname" />
                <result property="replyname" column="replyname" />
                <result property="content" column="ccontent" />
                <result property="createtime" column="ccreatetime" />

            </collection>

        </collection>

    </resultMap>

    <select id="findAll" resultMap="result">
--  select a.*,b.id as sid,b.name as sname,b.iid,b.content as scontent,c.name as cname,c.replyname,c.content as ccontent,c.createtime as ccreatetime from wenda a,wenda_comment b,wenda_reply c where a.id=b.iid and b.id=c.id
        select a.*,b.id as sid,b.name as sname,b.iid,b.content as scontent,c.name as cname,c.replyname,c.content as ccontent,c.createtime as ccreatetime from wenda a left join wenda_comment b on a.id=b.iid left join wenda_reply c on b.id=c.id
       <where>
        <if test="id!=null">
        and a.id=${id}
     </if>
       </where>
   </select>
    <select id="find" resultType="com.dubbo.api.model.WenDa">
        select *from wenda
        <where>
            <if test="author!=null">
                author=#{author}
            </if>
        </where>
        <if test="start!=null and num!=null">
            limit ${start},${num}
        </if>
    </select>

    <insert id="insertwenda">
        insert into wenda_comment values(null,${iid},#{name},#{content})
    </insert>

    <insert id="insertwenda1">
        insert into wenda_reply values(${id},#{name},#{replyname},#{content},#{createtime})
    </insert>


    <delete id="deletewenda">
        delete from wenda where id=${id}
    </delete>
    <delete id="deletewenda1">
        delete from wenda_comment where iid=${id}
    </delete>
    <delete id="deletewenda2">
        delete from wenda_reply where id=${id}
    </delete>
    <insert id="insertwenda2">
        insert into wenda(question,content,author,createtime) values(#{question},#{content},#{author},#{createtime})
    </insert>
    <select id="countWenDa" resultType="Integer">
        select count(*) from wenda_comment where iid=${iid}
    </select>



</mapper>